.banner {
  color: white;
  padding: 100px 10px;
}

.banner_title {
  font-size: 72px;
}
.banner_description {
  width: 30%
}
.gray_button {
  display: flex;
  padding: 30px 0;
}

.banner_play {
  color: white;
  background-color: rgba(170, 170, 170, 0.4);
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 18px;
  margin-left: 15px;
}
.banner_mylist {
  color: white;
  background-color: rgba(170, 170, 170, 0.4);
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 18px;
  margin-left: 15px;
}