.category-list {
  /* margin: 0; */
  padding: 15px;
  background-color: black;
}
.category {
  /* left: 0; */
  margin-bottom: 5px;
}
.category .title {
  font-size: 18px;
  font-weight: 900;
  color: white;
  padding: 15px 0;
}

.list { 
  display: flex;
}
.list .movie {
  width: auto;
  height: auto;
  padding: 5px;
}
.movie img {
  height: 200px;
  border-radius: 4px;
}

.movie:hover {
  transform: scale(1.5);
  transition: .3s;
  transition-delay: 0.2s;
}


